# Xerox Buddy Environment Variables
VITE_ADMIN_PASSWORD=xbuddy@4921

# Set your Xerox shop's real UPI ID and business name for 1-click student payments
VITE_UPI_ID=xbuddy@upi
VITE_PAYEE_NAME=Xerox Buddy

# Custom UPI ID for Google Pay
VITE_GPAY_UPI_ID=sreekarthota2007@okaxis
VITE_GPAY_PAYEE_NAME=Sreekar Thota
